@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

:root {
  /* color */
  --velio-bg-dark: #030303;
  --text-gray: #afafaf;

  font-family:
    "Plus Jakarta Sans", "Poppins", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--velio-bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.nav {
  padding: 24px 64px 16px 64px;
  background-color: darkslategray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .veli {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;

    .logo {
      width: 40px;
      height: 40px;
    }
    .velLog {
      font-weight: 500;
      font-style: medium;
      font-size: 40px;
      line-height: 120%;
      letter-spacing: 0%;
    }
  }

  .opt {
    border-radius: 32px;
    border: solid transparent 1px;
    background-image:
      linear-gradient(#121212, #292A29),
      linear-gradient(180deg, rgba(233, 233, 233, 0.75) 50%, rgba(233, 233, 233, 0.00) 93.05%);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    color: var(--text-gray);
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .strt {
    background: #fff;
    border-radius: 32px;
    padding: 20px 24px 20px 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    .bttext {
      color: var(--velio-bg-dark);
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0%;
    }
  }
}

.content{
  padding-top: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .subhead{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
    width: 571px;
    height: 38px;
    border-radius: 32px;
    background: gray;
    padding: 10px 16px;

  }
}
