/* width= 1440;
height= 864; */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

:root {
  /* color */
  --velio-bg-dark: #030303;
  --text-gray: #afafaf;

  font-family:
    "Plus Jakarta Sans", "Poppins", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: var(--velio-bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  padding: 24px 64px 16px 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .veli {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;

    .logo {
      width: 40px;
      height: 40px;
    }
    .velLog {
      font-weight: 500;
      font-style: medium;
      font-size: 40px;
      line-height: 120%;
      letter-spacing: 0%;
    }
  }

  .opt {
    border-radius: 32px;
    border: solid transparent 1px;
    background-image:
      linear-gradient(#121212, #292a29),
      linear-gradient(180deg, #e6e6e6 50%, rgba(233, 233, 233, 0) 93.05%);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    gap: 24px;
    color: var(--text-gray);
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .strt {
    background: #fff;
    border-radius: 32px;
    padding: 20px 24px 20px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 53px;

    .bttext {
      color: var(--velio-bg-dark);
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0%;
    }
  }
}

.content {
  padding-top: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .subhead {
    border-radius: 32px;
    border: solid transparent 1px;
    background-image:
      linear-gradient(#121212, #292a29),
      linear-gradient(180deg, #e6e6e6 50%, rgba(233, 233, 233, 0) 93.05%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 9px 16px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 38px;
    flex: 0;
    font-weight: 500;
    font-style: medium;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    /* z-index: 2; */
  }
  .head {
    margin-top: 32px;
    font-weight: 500;
    font-style: medium;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    /* z-index: 2; */
    position: relative;
  }
  .inp {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    /* z-index: 2; */
    .inp-em {
      border-radius: 32px;
      border: solid transparent 1px;
      background-image:
        linear-gradient(#121212, #292a29),
        linear-gradient(180deg, #e6e6e6 50%, rgba(233, 233, 233, 0) 93.05%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      width: 362px;
      height: 53px;
      padding-right: 17.6687px;
      padding-left: 17.6687px;
    }
    .inp-btn {
      border-radius: 32px;
      border: solid transparent 1px;
      background-image:
        linear-gradient(#121212, #292a29),
        linear-gradient(180deg, #e6e6e6 50%, rgba(233, 233, 233, 0) 93.05%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      width: 126px;
      height: 53px;
      font-weight: 500;
      font-style: medium;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0%;
      text-align: center;
    }
  }
}

.partner {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  /* z-index: 2; */

  .partinfo {
    padding-top: 50px;
    font-weight: 500;
    font-style: medium;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .partlogos {
    overflow: hidden;
    background: transparent;
    white-space: nowrap;
    display: flex;
    width: 100%;
  }

  .logoslide {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    flex-shrink: 0;
    animation: slide 20s infinite linear;
  }

  .logoslide img {
    height: 50px;
    /* margin: 0 40px; */
  }
}
& .partlogos:hover .logoslide {
  animation-play-state: paused;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.about {
  padding: 100px 64px;

  .about1 {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: flex-start;
    .what {
      border-radius: 32px;
      border: solid transparent 1px;
      background-image:
        linear-gradient(#121212, #292a29),
        linear-gradient(180deg, #e6e6e6 30%, rgba(233, 233, 233, 0) 93.05%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      padding: 10px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 38px;
      font-weight: 500;
      font-style: medium;
      font-size: 24px;
      line-height: 140%;
      letter-spacing: 0%;
    }
    .abvelio {
      font-weight: 500;
      font-style: medium;
      font-size: 64px;
      line-height: 120%;
      letter-spacing: 0%;
      .and {
        color: #abc0b9;
      }
    }
  }
  .about2 {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    .leftdesc {
      display: flex;
      flex-direction: row;
      gap: 15px;
      .avatar {
        display: flex;
        align-items: center;
      }
      && .avatar img {
        width: 75px;
        height: 75px;
        margin-left: -20px;
      }

      .usercount {
        gap: 7px;
        .mu {
          font-weight: 500;
          font-style: medium;
          font-size: 24px;
          line-height: 140%;
          letter-spacing: 0%;
        }
        .au {
          font-weight: 400;
          font-style: normal;
          font-size: 18px;
          line-height: 140%;
          letter-spacing: 0%;
        }
      }
    }

    .desc {
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0%;
      width: 646px;
    }
  }
}

.wallet {
  position: relative;
  overflow: hidden;

  margin-top: 100px;
  margin-left: 64px;
  padding-right: 64px;
  margin-bottom: 40px;
  justify-content: space-evenly;
  display: flex;
  gap: 131px;
  align-items: center;
  .leftwal {
    width: 535px;
    .velwal {
      font-weight: 500;
      font-style: medium;
      font-size: 24px;
      line-height: 140%;
      letter-spacing: 0%;
      color: #abc0b9;
    }
    .walpay {
      margin-top: 24px;
      font-weight: 500;
      font-style: medium;
      font-size: 64px;
      line-height: 120%;
      letter-spacing: 0%;
    }
    .waldes {
      margin-top: 75px;
      margin-bottom: 75px;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0%;
    }
    .walbtn {
      width: 174px;
      height: 53px;
      border-radius: 32px;
      border: solid transparent 1px;
      background-image:
        linear-gradient(#121212, #292a29),
        linear-gradient(180deg, #e6e6e6 30%, rgba(233, 233, 233, 0) 93.05%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0%;
    }
  }
  .rightwal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 646px;
    height: 795px;
    /* background-color: red; */
    .screen {
      background-color: #131313;
      display: flex;
      min-width: 374px;
      /* height: 695px; */
      flex-direction: column;
      border-radius: 20px;
      border: solid white 5px;
      /* padding-top: 25px;
      padding-bottom: 25px; */
      z-index: 10;
      .topcon {
        padding: 25px 16px;
        .usnum {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 5.5653px;
          .usnumimg {
            width: 45px;
            height: 45px;
          }
          .usnuminfo {
            display: flex;
            flex-direction: column;
            .num {
              font-weight: 500;
              font-style: medium;
              font-size: 24px;
              line-height: 140%;
              letter-spacing: 0%;
            }
            .numopt {
              display: flex;
              font-size: 18px;
              line-height: 140%;
              letter-spacing: 0%;
              color: #abc0b9;
              gap: 5px;
            }
          }
        }
        .totbalance {
          margin-top: 25px;
          padding-top: 25px;
          padding-bottom: 25px;
          .baltex {
            font-size: 18px;
            line-height: 140%;
            letter-spacing: 0%;
          }
          .balnum {
            margin-top: 16px;
            margin-bottom: 35px;
            display: flex;
            align-items: center;
            gap: 16px;
            font-weight: 500;
            font-style: medium;
            font-size: 32px;
            line-height: 140%;
            letter-spacing: 0%;
            .chok {
              width: 28px;
              height: 28px;
            }
          }
          .balicon {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .balopt {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 10px;
              .opt {
                width: 70px;
                height: 70px;
                background-color: #030303;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: 0%;
                /* z-index: 10; */
              }
              #opt1 {
                border: solid transparent 1px;
                background-image:
                  linear-gradient(#121212, #292a29),
                  linear-gradient(
                    180deg,
                    #e6e6e6 30%,
                    rgba(233, 233, 233, 0) 93.05%
                  );
                background-origin: border-box;
                background-clip: padding-box, border-box;
              }
            }
          }
        }
      }
      .trans {
        padding: 25px 16px;
        gap: 25px;
        display: flex;
        flex-direction: column;
        .transtitle {
          font-weight: 400;
          font-size: 18px;
          line-height: 140%;
          letter-spacing: 0%;
        }
        .transitem {
          display: flex;
          align-items: center;
          gap: 16px;

          /* justify-content: space-between; */
          .coin {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 100px;
            border: solid transparent 1px;
            background-image:
              linear-gradient(#121212, #292a29),
              linear-gradient(
                180deg,
                #e6e6e6 30%,
                rgba(233, 233, 233, 0) 93.05%
              );
            background-origin: border-box;
            background-clip: padding-box, border-box;
          }
          .transfix {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            .transname {
              width: 170px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-weight: 500;
              font-style: medium;
              font-size: 24px;
              line-height: 140%;
              letter-spacing: 0%;
            }
            .transdate {
              font-size: 18px;
              color: #afafaf;
            }
            .transamount {
              font-weight: 500;
              font-style: medium;
              font-size: 24px;
              line-height: 140%;
              letter-spacing: 0%;
            }
          }
        }
      }
    }
  }
}
.wallet::after {
  content: "";
  position: absolute;

  /* Center the glow */
  top: 60%;
  left: 70%;
  transform: translate(-50%, -55%);

  /* Make the glow large enough to cover the center area */
  width: 70%;
  height: 100%;

  /* Radial Gradient: 
     - Center is soft white/gray at 10% opacity
     - Fades to total transparency at 70% 
  */
  background: radial-gradient(
    circle,
    #b7cebc38 3%,
    #a2b4b72c 30%,
    transparent 75%
  );

  /* Place it above the grid (z-index 1) but below text (z-index 10) */
  z-index: 5;

  /* Very important: clicking passes through this layer */
  pointer-events: none;
}

.feature {
  position: relative;
  overflow: hidden;
  padding: 100px 64px;
  .ft {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 133px;
    height: 38px;
    font-weight: 500;
    font-style: medium;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    border-radius: 32px;
    border: solid transparent 1px;
    background-image:
      linear-gradient(#121212, #292a29),
      linear-gradient(180deg, #e6e6e6 30%, rgba(233, 233, 233, 0) 93.05%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  .ftwhy {
    margin-top: 24px;
    margin-bottom: 75px;
    font-weight: 500;
    font-style: medium;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
  .featgrid {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: space-between;
    /* flex: 1; */
    .grid1 {
      /* background-color: rgb(255, 127, 187);   */
      display: flex;
      justify-content: space-between;
      align-items: center;
      .fgrid {
        /* background-color: red; */
        width: 424px;
        /* height: 650px; */
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        border-radius: 32px;
        border: solid transparent 1px;
        background-image:
          linear-gradient(#121212, #292a29),
          linear-gradient(180deg, #e6e6e6 30%, rgba(233, 233, 233, 0) 93.05%);
        background-origin: border-box;
        background-clip: padding-box, border-box;
        padding: 25px 25px 50px 25px;
        .fgridtop {
          display: flex;
          flex-direction: column;
          gap: 35px;
          margin-bottom: 50px;
          /* z-index: 10; */
          .fgridicon {
            width: 62px;
            height: 62px;
            border-radius: 16px;
            border: solid transparent 1px;
            background-image:
              linear-gradient(#121212, #292a29),
              linear-gradient(
                180deg,
                #e6e6e6 30%,
                rgba(233, 233, 233, 0) 93.05%
              );
            background-origin: border-box;
            background-clip: padding-box, border-box;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .fgridtitle {
            font-weight: 500;
            font-style: medium;
            font-size: 32px;
            line-height: 140%;
            letter-spacing: 0%;
          }
          .fgriddes {
            font-size: 18px;
          }
        }
        .fgriddown {
          z-index: 10;
          height: 280px;
          padding: 24px;
          background-color: #030303;
          border-radius: 24px;
          .totbalance {
            .baltex {
              font-size: 18px;
              line-height: 140%;
              letter-spacing: 0%;
            }
            .balnum {
              margin-top: 16px;
              margin-bottom: 35px;
              display: flex;
              align-items: center;
              gap: 16px;
              font-weight: 500;
              font-style: medium;
              font-size: 32px;
              line-height: 140%;
              letter-spacing: 0%;
              .chok {
                width: 28px;
                height: 28px;
              }
            }
            .balicon {
              display: flex;
              justify-content: space-around;
              align-items: center;
              .balopt {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                .opt {
                  width: 70px;
                  height: 70px;
                  background-color: #131313;
                  border-radius: 100px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 140%;
                  letter-spacing: 0%;
                  /* z-index: 10; */
                }
                #opt1 {
                  border: solid transparent 1px;
                  background-image:
                    linear-gradient(#121212, #292a29),
                    linear-gradient(
                      180deg,
                      #e6e6e6 30%,
                      rgba(233, 233, 233, 0) 93.05%
                    );
                  background-origin: border-box;
                  background-clip: padding-box, border-box;
                }
              }
            }
          }
          .trans {
            gap: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            .transtitle {
              font-weight: 400;
              font-size: 18px;
              line-height: 140%;
              letter-spacing: 0%;
            }
            .transitem {
              display: flex;
              align-items: center;
              gap: 16px;

              .coin {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                border-radius: 100px;
                border: solid transparent 1px;
                background-image:
                  linear-gradient(#121212, #292a29),
                  linear-gradient(
                    180deg,
                    #e6e6e6 30%,
                    rgba(233, 233, 233, 0) 93.05%
                  );
                background-origin: border-box;
                background-clip: padding-box, border-box;
              }
              .transfix {
                display: flex;
                justify-content: space-between;
                flex-grow: 1;
                .transname {
                  width: 170px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-weight: 500;
                  font-style: medium;
                  font-size: 24px;
                  line-height: 140%;
                  letter-spacing: 0%;
                }
                .transdate {
                  font-size: 18px;
                  color: #afafaf;
                }
                .transamount {
                  font-weight: 500;
                  font-style: medium;
                  font-size: 24px;
                  line-height: 140%;
                  letter-spacing: 0%;
                }
              }
            }
          }
          .pigbar {
            display: flex;
            gap: 24px;
            align-items: center;

            .pig {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 50px;
              height: 50px;
              border-radius: 100px;
              border: solid transparent 1px;
              background-image:
                linear-gradient(#121212, #292a29),
                linear-gradient(
                  180deg,
                  #e6e6e6 30%,
                  rgba(233, 233, 233, 0) 93.05%
                );
              background-origin: border-box;
              background-clip: padding-box, border-box;
            }
            .pigtext {
              color: #afafaf;
              font-size: 18px;
              .pigam {
                font-weight: 500;
                font-style: medium;
                font-size: 40px;
                color: white;
              }
            }
          }
          .perc {
            margin-top: 60px;
            .trg {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-weight: 500;
              font-style: medium;
              font-size: 24px;
              line-height: 140%;
              letter-spacing: 0%;
            }
            .fill {
              margin-top: 25px;
              margin-bottom: 10px;
              background-color: #afafaf;
              height: 14px;
              border-radius: 7px;
              .filled {
                border-radius: 7px;
                height: 100%;
                width: 70%;
                background-color: #fff;
              }
            }
          }
        }
      }
    }
    .grid2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .sgrid {
        min-width: 424px;
        /* height: 650px; */
        display: flex;
        flex-direction: column;
        gap: 2vw;
        flex-shrink: 0;
        border-radius: 32px;
        border: solid transparent 1px;
        background-image:
          linear-gradient(#121212, #292a29),
          linear-gradient(180deg, #e6e6e6 30%, rgba(233, 233, 233, 0) 93.05%);
        background-origin: border-box;
        background-clip: padding-box, border-box;
        padding: 25px 25px 50px 25px;
        .sgridtop {
          display: flex;
          flex-direction: column;
          gap: 35px;
          margin-bottom: 25px;
          .sgridicon {
            width: 62px;
            height: 62px;
            border-radius: 16px;
            border: solid transparent 1px;
            background-image:
              linear-gradient(#121212, #292a29),
              linear-gradient(
                180deg,
                #e6e6e6 30%,
                rgba(233, 233, 233, 0) 93.05%
              );
            background-origin: border-box;
            background-clip: padding-box, border-box;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .sgridtitle {
            font-weight: 500;
            font-style: medium;
            font-size: 32px;
            line-height: 140%;
            letter-spacing: 0%;
          }
          .sgriddes1 {
            font-size: 18px;
            width: 374px;
          }
          .sgriddes {
            font-size: 18px;
            width: 818px;
            padding-bottom: 25px;
          }
        }
        .sgriddown {
          background-color: #030303;
          border-radius: 24px;
          padding: 16px 24px;
          z-index: 10;
          .sav {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding-bottom: 20px;
            .saving {
              font-size: 18px;
              color: #afafaf;
            }
            .savper {
              display: flex;
              justify-content: flex-start;
              align-items: flex-end;
              gap: 5px;
              font-weight: 500;
              font-style: medium;
              font-size: 32px;
              line-height: 140%;
              letter-spacing: 0%;
              .savpa {
                font-size: 18px;
                color: #afafaf;
              }
            }
          }
          .bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 169px;
            .barb {
              height: 100%;
              width: 72px;
              display: flex;
              flex-direction: column-reverse;
              .bar1 {
                background-color: #6a706e;
                width: 100%;
                height: 20%;
                border-radius: 5px;
              }
              .bar2 {
                background-color: #6a706e;
                width: 100%;
                height: 40%;
                border-radius: 5px;
              }
              .bar3 {
                background-color: #6a706e;
                width: 100%;
                height: 60%;
                border-radius: 5px;
              }
              .bar4 {
                background-color: #abc0b9;
                width: 100%;
                height: 80%;
                border-radius: 5px;
              }
            }
          }
          .sgriddown1 {
            display: flex;
            flex-direction: column;
            .baltex {
              font-size: 18px;
              line-height: 140%;
              letter-spacing: 0%;
              color: #afafaf;
            }
            .balnum {
              margin-top: 24px;
              display: flex;
              align-items: center;
              gap: 16px;
              font-weight: 500;
              font-style: medium;
              font-size: 32px;
              line-height: 140%;
              letter-spacing: 0%;
              .chok {
                width: 28px;
                height: 28px;
              }
            }
            .lsection {
              margin-top: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 15px;
              .section {
                background-color: #131313;
                display: flex;
                align-items: center;
                padding: 25px;
                border-radius: 25px;
                gap: 24px;
                border: solid #afafaf 1px;
                min-width: 370px;
                .lock {
                  width: 75px;
                  height: 75px;
                  background-color: #abc0b9;
                  border-radius: 100px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                .ltext {
                  display: flex;
                  flex-direction: column;
                  font-size: 18px;
                  color: #afafaf;
                  .lamount {
                    font-weight: 500;
                    font-style: medium;
                    font-size: 40px;
                    line-height: 120%;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.feature::after {
  content: "";
  position: absolute;

  /* Center the glow */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Make the glow large enough to cover the center area */
  width: 120%;
  height: 110%;

  /* Radial Gradient: 
     - Center is soft white/gray at 10% opacity
     - Fades to total transparency at 70% 
  */
  background: radial-gradient(
    circle,
    #b7cebc34 3%,
    #a2b4b736 30%,
    transparent 60%
  );

  /* Place it above the grid (z-index 1) but below text (z-index 10) */
  z-index: 5;

  /* Very important: clicking passes through this layer */
  pointer-events: none;
}

.faq {
  position: relative;
  margin: 100px 64px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .faqlog {
    border-radius: 32px;
    border: solid transparent 1px;
    background-image:
      linear-gradient(#121212, #292a29),
      linear-gradient(180deg, #e6e6e6 30%, rgba(233, 233, 233, 0) 93.05%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 10px 16px;
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 24px;
  }
  .faqask {
    font-weight: 500;
    font-style: medium;
    font-size: 64px;
    line-height: 120%;
    margin-bottom: 75px;
  }
  .qs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 1200px;
    .ques {
      border: solid white 1px;
      padding: 32px 50px;
      font-weight: 500;
      font-style: medium;
      font-size: 24px;
      line-height: 140%;
      display: flex;
      justify-content: space-between;
    }
    #quesd{
      background: #e6e6e62d;
      background-blend-mode: overlay;
    }
    .ans {
      padding: 2px 50px;
    }
  }
}
.faq::after {
  content: "";
  position: absolute;

  /* Center the glow */
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Make the glow large enough to cover the center area */
  width: 90%;
  height: 90%;

  /* Radial Gradient: 
     - Center is soft white/gray at 10% opacity
     - Fades to total transparency at 70% 
  */
  background: radial-gradient(
    circle,
    #b7cebc63 1%,
    #a2b4b75b 10%,
    transparent 85%
  );

  /* Place it above the grid (z-index 1) but below text (z-index 10) */
  z-index: 5;

  /* Very important: clicking passes through this layer */
  pointer-events: none;
}

.testi {
  margin: 100px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .testim {
    border-radius: 32px;
    border: solid transparent 1px;
    background-image:
      linear-gradient(#121212, #292a29),
      linear-gradient(180deg, #e6e6e6 30%, rgba(233, 233, 233, 0) 93.05%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 10px 16px;
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 24px;
  }
  .hear {
    font-weight: 500;
    font-style: medium;
    font-size: 64px;
    line-height: 120%;
    margin-bottom: 75px;
  }
  .reputation {
    width: 100%;
    height: 424px;
    .revbox {
      width: 424px;
      height: 424px;
      border-radius: 35px;
      padding: 20px;

      border-radius: 32px;
      border: solid transparent 1px;
      background-image:
        linear-gradient(#111111, #070707),
        linear-gradient(180deg, #e6e6e64d 90%, rgba(233, 233, 233, 0) 93.05%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 38px;
      font-weight: 500;
      font-size: 24px;
      line-height: 140%;
      letter-spacing: 0%;

      .revsize {
        height: 246px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: first baseline;
        gap: 38px;
        .revpro {
          display: flex;
          flex-direction: column;
          gap: 15px;
          .revplat {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.banner {
  width: 100%;
  height: 595px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
  overflow: hidden;

  .grid-background {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    width: max(100%, 1547px);
    height: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, 119px);
    grid-template-rows: repeat(auto-fill, 119px);
    justify-content: start;
    align-content: start;
    pointer-events: none;
  }

  .grid-cell {
    border: 1px solid #444;
    box-sizing: border-box;
    width: 119px;
    height: 119px;
    background-color: transparent;
  }

  .grid-cell:nth-child(20) {
      background-image:
        linear-gradient(#121212, #292a29),
        linear-gradient(180deg, #e6e6e6 30%, rgba(233, 233, 233, 0) 93.05%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
    border: 1px solid #444;
    z-index: 1;
  }

  .grid-cell:nth-child(42) {
    background-image:
        linear-gradient(#121212, #292a29),
        linear-gradient(180deg, #e6e6e6 30%, rgba(233, 233, 233, 0) 93.05%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
    border: 1px solid #444;
    z-index: 1;
  }
  .grid-cell:nth-child(50) {
    background-image:
        linear-gradient(#121212, #292a29),
        linear-gradient(180deg, #e6e6e6 30%, rgba(233, 233, 233, 0) 93.05%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
    border: 1px solid #444;
    z-index: 1;
  }

  .bantext {
    padding: 0px 64px 0px 64px;

    text-align: center;
    font-weight: 500;
    font-style: medium;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    z-index: 10;
  }
  .banbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    z-index: 10;

    .str {
      border-radius: 32px;
      border: solid transparent 1px;
      background-image:
        linear-gradient(#121212, #292a29),
        linear-gradient(180deg, #e6e6e6 30%, rgba(233, 233, 233, 0) 93.05%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      padding: 20px 24px;
      font-size: 18px;
      line-height: 140%;
    }
    .sale {
      border-radius: 32px;
      background-color: #fff;
      color: #030303;
      padding: 20px 24px;
      font-size: 18px;
      line-height: 140%;
    }
  }
}
.banner::after {
  content: "";
  position: absolute;

  /* Center the glow */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Make the glow large enough to cover the center area */
  width: 100%;
  height: 1005.217px;

  /* Radial Gradient: 
     - Center is soft white/gray at 10% opacity
     - Fades to total transparency at 70% 
  */
  background: radial-gradient(
    circle,
    #b7cebc5d 3%,
    #a2b4b754 30%,
    transparent 80%
  );

  /* Place it above the grid (z-index 1) but below text (z-index 10) */
  z-index: 5;

  /* Very important: clicking passes through this layer */
  pointer-events: none;
}

.foot {
  margin: 100px 64px;
  display: flex;
  flex-direction: column;
  gap: 75px;
  .foot1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .veli {
      display: flex;
      gap: 24px;
      align-items: center;
      .logo {
        width: 40px;
        height: 40px;
      }
      .velLog {
        font-weight: 500;
        font-style: medium;
        font-size: 40px;
        line-height: 120%;
        letter-spacing: 0%;
      }
    }
    .veltext {
      font-weight: 500;
      font-size: 32px;
      line-height: 140%;
    }
    .images {
      display: flex;
      gap: 32px;
    }
  }
  .foot2 {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
    color: #afafaf;
    .f2t {
      color: #fff;
    }
  }
  .copy {
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  /* background-color: pink; */
}
.swiper-slide {
  /* text-align: center; */
  /* font-size: 18px; */
  background: #1313131a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper {
  height: 424px;
}

.firstc {
  width: 1440;
  position: relative;
  overflow: hidden;

  .grid-background {
    position: absolute;
    top: 0;
    left: 0;
    width: max(100%, 1547px);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 119px);
    grid-template-rows: repeat(auto-fill, 119px);
    justify-content: center;
    pointer-events: none;
    z-index: -1;
    -webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  }

  .grid-cell {
    border: 1px solid #444;
    box-sizing: border-box;
    width: 119px;
    height: 119px;
    background-color: transparent;
    z-index: -1;
  }

  .grid-cell:nth-child(34) {
    background-image:
        linear-gradient(#121212, #292a29),
        linear-gradient(180deg, #e6e6e6 30%, rgba(233, 233, 233, 0) 93.05%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
    border: 1px solid #444;
    z-index: -1;
  }

  .grid-cell:nth-child(55) {
    background-image:
        linear-gradient(#121212, #292a29),
        linear-gradient(180deg, #e6e6e6 30%, rgba(233, 233, 233, 0) 93.05%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
    border: 1px solid #444;
    z-index: -1;
  }
  .grid-cell:nth-child(63) {
    background-image:
        linear-gradient(#121212, #292a29),
        linear-gradient(180deg, #e6e6e6 30%, rgba(233, 233, 233, 0) 93.05%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
    border: 1px solid #444;
    z-index: -1;
  }
}
.firstc::after {
  content: "";
  position: absolute;

  /* Center the glow */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  /* Make the glow large enough to cover the center area */
  width: 100%; 
  height: 100%;
  
  /* Radial Gradient: 
     - Center is soft white/gray at 10% opacity
     - Fades to total transparency at 70% 
  */
  background: radial-gradient(
    circle, 
    #b7cebc31 10%, 
    #a2b4b721 50%, 
    transparent 80%
  );
  
  /* Place it above the grid (z-index 1) but below text (z-index 10) */
  z-index: 2; 
  
  /* Very important: clicking passes through this layer */
  pointer-events: none; 
}

