@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

:root {
  /* color */
  --velio-bg-dark: #030303;
  --text-gray: #afafaf;

  font-family:
    "Plus Jakarta Sans", "Poppins", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: var(--velio-bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  padding: 24px 64px 16px 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .veli {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;

    .logo {
      width: 40px;
      height: 40px;
    }
    .velLog {
      font-weight: 500;
      font-style: medium;
      font-size: 40px;
      line-height: 120%;
      letter-spacing: 0%;
    }
  }

  .opt {
    border-radius: 32px;
    border: solid transparent 1px;
    background-image:
      linear-gradient(#121212, #292a29),
      linear-gradient(180deg, #e6e6e6 50%, rgba(233, 233, 233, 0) 93.05%);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    gap: 24px;
    color: var(--text-gray);
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .strt {
    background: #fff;
    border-radius: 32px;
    padding: 20px 24px 20px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 53px;

    .bttext {
      color: var(--velio-bg-dark);
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0%;
    }
  }
}

.content {
  padding-top: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .subhead {
    border-radius: 32px;
    border: solid transparent 1px;
    background-image:
      linear-gradient(#121212, #292a29),
      linear-gradient(180deg, #e6e6e6 50%, rgba(233, 233, 233, 0) 93.05%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 9px 16px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 38px;
    flex: 0;
    font-weight: 500;
    font-style: medium;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    /* z-index: 2; */
  }
  .head {
    margin-top: 32px;
    font-weight: 500;
    font-style: medium;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    /* z-index: 2; */
    position: relative;
  }
  .inp {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    /* z-index: 2; */
    .inp-em {
      border-radius: 32px;
      border: solid transparent 1px;
      background-image:
        linear-gradient(#121212, #292a29),
        linear-gradient(180deg, #e6e6e6 50%, rgba(233, 233, 233, 0) 93.05%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      width: 362px;
      height: 53px;
      padding-right: 17.6687px;
      padding-left: 17.6687px;
    }
    .inp-btn {
      border-radius: 32px;
      border: solid transparent 1px;
      background-image:
        linear-gradient(#121212, #292a29),
        linear-gradient(180deg, #e6e6e6 50%, rgba(233, 233, 233, 0) 93.05%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      width: 126px;
      height: 53px;
      font-weight: 500;
      font-style: medium;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0%;
      text-align: center;
    }
  }
  .s1 {
    position: absolute;
    width: 119px;
    height: 119px;
    background: red;
    margin-top: 6.28vh;
    /* margin-left: 64vh; */
    /* margin-top: 56.5px;  */
    margin-left: 770px;
    margin-right: 421px;
    /* z-index: 1; */
  }
  .s2 {
    position: absolute;
    width: 119px;
    height: 119px;
    background: red;
    margin-top: 415px;
    margin-left: 295px;
    margin-right: 1138px;

    /* z-index: 1; */
  }
  .s3 {
    position: absolute;
    width: 119px;
    height: 119px;
    background: red;
    margin-top: 415px;
    margin-left: 1060px;

    /* z-index: 1; */
  }
}

.partner {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  /* z-index: 2; */

  .partinfo {
    padding-top: 50px;
    font-weight: 500;
    font-style: medium;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .partlogos {
    overflow: hidden;
    background: transparent;
    white-space: nowrap;
    display: flex;
    width: 100%;
  }

  .logoslide {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    flex-shrink: 0;
    animation: slide 20s infinite linear;
  }

  .logoslide img {
    height: 50px;
    /* margin: 0 40px; */
  }
}
& .partlogos:hover .logoslide {
  animation-play-state: paused;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.about {
  padding: 100px 64px;

  .about1 {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: flex-start;
    .what {
      border-radius: 32px;
      border: solid transparent 1px;
      background-image:
        linear-gradient(#121212, #292a29),
        linear-gradient(180deg, #e6e6e6 30%, rgba(233, 233, 233, 0) 93.05%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      padding: 10px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 38px;
      font-weight: 500;
      font-style: medium;
      font-size: 24px;
      line-height: 140%;
      letter-spacing: 0%;
    }
    .abvelio {
      font-weight: 500;
      font-style: medium;
      font-size: 64px;
      line-height: 120%;
      letter-spacing: 0%;
      .and {
        color: #abc0b9;
      }
    }
  }
  .about2 {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    .leftdesc {
      display: flex;
      flex-direction: row;
      gap: 15px;
      .avatar {
        display: flex;
        align-items: center;
      }
      && .avatar img {
        width: 75px;
        height: 75px;
        margin-left: -20px;
      }

      .usercount {
        gap: 7px;
        .mu {
          font-weight: 500;
          font-style: medium;
          font-size: 24px;
          line-height: 140%;
          letter-spacing: 0%;
        }
        .au {
          font-weight: 400;
          font-style: normal;
          font-size: 18px;
          line-height: 140%;
          letter-spacing: 0%;
        }
      }
    }

    .desc {
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0%;
      width: 646px;
    }
  }
}

.wallet {
  margin-top: 100px;
  margin-left: 64px;
  margin-right: 64px;
  display: flex;
  gap: 131px;
  align-items: center;
  .leftwal {
    width: 535px;
    .velwal {
      font-weight: 500;
      font-style: medium;
      font-size: 24px;
      line-height: 140%;
      letter-spacing: 0%;
      color: #abc0b9;
    }
    .walpay {
      margin-top: 24px;
      font-weight: 500;
      font-style: medium;
      font-size: 64px;
      line-height: 120%;
      letter-spacing: 0%;
    }
    .waldes {
      margin-top: 75px;
      margin-bottom: 75px;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0%;
    }
    .walbtn {
      width: 174px;
      height: 53px;
      border-radius: 32px;
      border: solid transparent 1px;
      background-image:
        linear-gradient(#121212, #292a29),
        linear-gradient(180deg, #e6e6e6 30%, rgba(233, 233, 233, 0) 93.05%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0%;
    }
  }
  .rightwal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 646px;
    height: 795px;
    /* background-color: red; */
    .screen{
      width: 374px;
      border-radius: 20px;
      border: solid white 5px;
      padding-top: 25px;
      padding-bottom: 25px;
      .topcon{
        padding: 25px 16px;
        .usnum{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 5.5653px;
          .usnumimg{
            width: 45px;
            height: 45px;
          }
          .usnuminfo{
            display: flex;
            flex-direction: column;
            .num{
              font-weight: 500;
              font-style: medium;
              font-size: 24px;
              line-height: 140%;
              letter-spacing: 0%;
            }
            .numopt{
              display: flex;
              font-size: 18px;
              line-height: 140%;
              letter-spacing: 0%;
              color: #ABC0B9;
              gap: 5px;
            }
          }
        }
        .totbalance{
          margin-top: 25px;
          padding-top: 25px;
          padding-bottom: 25px;
          .baltex{
            font-size: 18px;
            line-height: 140%;
            letter-spacing: 0%;
          }
          .balnum{
            margin-top: 16px;
            margin-bottom: 35px;
            display: flex;
            align-items: center;
            gap: 16px;
            font-weight: 500;
            font-style: medium;
            font-size: 32px;
            line-height: 140%;
            letter-spacing: 0%;
            .chok{
              width: 28px;
              height: 28px;
            }
          }
          .balicon{
            display: flex;
            justify-content: space-around;
          }
          
        }
      }
    }
  }
}











.grid-container {
  width: 100%;
  height: 100%;

  background-size: 119px 119px;

  background-color: #0a0a0a;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1.5px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1.5px, transparent 1.5px);
}
